include ../config/config

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Fylo dark theme landing page
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Fontawesome
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Raleway, Open Sans
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap", rel="stylesheet")
   body 
      header.main-header
      
         .main-header__top
            img.main-header__logo(src="assets/img/logo.svg", alt="Fylo logo")
            nav
               ul.menu 
                  each page in pages
                     li.menu__item: a.menu__link(href= page.url)= page.title

         .main-header__body
            .main-header__illustration 
            .main-header__card
               h1.title All your files in one secure location, accessible anywhere.
               p.main-header__text Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
               form.form-header(action="#")
                  .form-header__email
                     input.form-header__input(
                           type="email", 
                           name="email", 
                           aria-label="Your email", 
                           placeholder="Enter your email",
                           required,
                           title= "Type a valid email adress",
                           pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                        )
                     p.form-header__error Please check your email
                  button.form-header__submit Get Started

      main.main

         article.productivity
            .productivity__illustration
            .productivity__card 
               h2.productivity__title Stay productive, wherever you are
               p.productivity__text Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
               p.productivity__text Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!
               a.productivity__link See how Fylo works

               article.testimonial
                  blockquote.testimonial__quote Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                  footer.testimonial__footer
                     img.testimonial__image(src="assets/img/avatar-testimonial.jpg", alt="Kyle Burton profile image")
                     .testimonial__data 
                        h3.testimonial__name Kyle Burton
                        p.testimonial__job Founder & CEO, Huddle

         section.early-access
            header.early-access__header
               h2.early-access__title Get early access today
               p.early-access__text It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.

            form.form-early-access(action="#")
                  .form-early-access__email
                     input.form-early-access__input(
                           type="email", 
                           name="email", 
                           aria-label="Your email", 
                           placeholder="Enter your email",
                           required,
                           title= "Type a valid email adress",
                           pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                        )
                     p.form-early-access__error Please check your email
                  button.form-early-access__submit Get Started

      footer.footer
         img.footer__logo(src="assets/img/logo.svg", alt="Fylo logo")
         .footer__body

            ul.contact
               li.contact__item 
                  a.contact__link.contact__link--phone(href="tel:+1-543-123-4567") Phone: +1-543-123-4567
               li.contact__item 
                  a.contact__link.contact__link--email(href="mailto:example@fylo.com") example@fylo.com

            ul.footer-list
               li.footer-list__item: a(href="#").footer-list__link About Us
               li.footer-list__item: a(href="#").footer-list__link Jobs
               li.footer-list__item: a(href="#").footer-list__link Press
               li.footer-list__item: a(href="#").footer-list__link Blog

            ul.footer-list
               li.footer-list__item: a(href="#").footer-list__link Contact Us
               li.footer-list__item: a(href="#").footer-list__link Terms
               li.footer-list__item: a(href="#").footer-list__link Privacy
            
            ul.social
               li.social__item 
                  a(href="#").social__link
                     i.fab.fa-facebook-f.social__icon
                     span.social__screen-reader-only Go to Fylo's facebook
               li.social__item 
                  a(href="#").social__link
                     i.fab.fa-twitter.social__icon
                     span.social__screen-reader-only Go to Fylo's twitter
               li.social__item 
                  a(href="#").social__link
                     i.fab.fa-instagram.social__icon
                     span.social__screen-reader-only Go to Fylo's instagram